.page-one {
  color: white;
  height: 100vh;
}
.page-two {
  color: white;
  height: 100vh;
}
.page-three {
  color: white;
  height: 100vh;
}
.page-four {
  background-color: #db3434; /* Blue */
  color: white;
  height: 100vh;
}
